body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo{

    width: 100%;
    height: 90px;
    background-color: #1E90FF;
    color: white;
    display:flex ;
    justify-content: space-around;
}

.rodape{
    width: 100%;
    background-color: #1E90FF;
    bottom: 0;
    position: absolute;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
}

.item-link{

display:flex;
margin-top: 25px;



}

.item{
    padding: 10px;
    
}

.item a{
    
    color: white; 
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50px;
   
   
}
.item1{
    font-size: 65px;
margin-top: 3px;

    
    }

    .item1 img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .item-footer {

        padding: 5px;
        text-align:center;
    }

    .banner{
        width: 100%;
        height: 350px;

    }

    .empresas-parceiras{
        text-align: center;
        color: darkblue ;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    }
    .controle-parceiros{
        display: flex;
        margin-left: 5px;
        justify-content: center;

    }
    .imagem-parceiros img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 5px;
        
    }