body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 0;
}

.topo{
    width: 100%;
    height: 80px;
    background-color: rgb(11, 19, 94);
    color: white;
    display:flex ;
    justify-content: space-between;
}

.item-link{
display:flex;
margin-top: 25px;
}

.item{
    padding: 5px; 
    font-size: 14px;
    
}

.item a{
    color: white; 
    text-decoration: none;
    border-radius: 50px;
    margin-right: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

.item a:hover{
    color: rgb(160, 10, 247);
    font-size: 14px;
    border: 1px solid white;
    background-color: white;
    border-radius: 7px;
    
}


    .item1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 16px;
        color: white;
        margin-top: 30px;
        margin-left: 5px;
        
        
    }

    .item-btn{
        color: white; 
        text-decoration: none;
        text-align: center;
        align-items: center;
        border-radius: 7px;
        margin-right: 5px;
        margin-top: 3px;
        border: 1px solid white;
        height: 20px;
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .item-btn:hover{
        color: rgb(160, 10, 247);
    font-size: 14px;
    border: 1px solid white;
    background-color: white;
    height: 20px; 
    }

   

    .banner{
        width: 100%;
        height: 200px;
        text-align: center;

    }

    .empresas-parceiras{
        text-align: center;
        color: black;
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  ;
    }
    .controle-parceiros{
        display: flex;
        justify-content: center;
        

    }
    .imagem-parceiros img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        padding: 3px;
        
    }

    .controle-vagas{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      justify-content: center;
     
        
    }

    .item-vagas{
        justify-content: center;
        text-align: left;
        border: 2px solid white;
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        padding: 2px;
        border-radius: 5px;
        background-color:rgb(11, 19, 94);
    }

    .texto-vagas{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 10px;
    }

    .btn-cadastrar-se{
        background-color: white;
        color: rgb(160, 10, 247);
        border: none;
        margin-bottom: 5px;
        border-radius: 5px;
        text-decoration: none;
    }

    .rodape{
        background-color: rgb(11, 19, 94);
        margin: 0;
        position: absolute;
        width: 100%;
        color:white;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 12px;
    }

    .controle-vg-disponivel{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(11, 19, 94);
  width: 90%;
  height: 270px;
  margin: 20px;
  
    }

    .vg-disponivel{
        display: flex;
        padding: 2px;
        text-align: center;
        background-color: white;
        margin: 10px;
        width: 30%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: rgb(11, 19, 94);
        font-style:inherit;
        font-weight: 10px;
          }

          .vg-disponivel img{
            width: 90px;
            height: 80px;
            border-radius: 50%;
          }

          .controle-categorias{
            display: flex;
            flex-wrap: wrap;
          margin: 10px;
          justify-content: center;
          }

          .itens-categoria{
            padding: 5px;
            color:white;
            font-family: arial;
            font-size: 15px;
            border: 2px solid white;
            background-color: rgb(11, 19, 94);;
            border-radius: 10px;
          }

